<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soft.sanislo.meetstrangers">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".MeetStrangers"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".activity.SignupActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.ProfileYourselfActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.NewPostActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.ProfileEditActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.ChatActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.RelationshipsActivity"/>
        <activity
            android:name=".activity.ChatHeaderActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".test.TestActivity"
            android:configChanges="orientation|screenSize"/>
        <service
            android:name=".service.LocationService"
            android:exported="false"/>
        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false"/>
        <receiver android:name=".activity.ProfileActivity$AddressReciever"></receiver>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCqS2MtsYCbajcVvqJsnEW_PjnZYOv0jvY"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>